#contact {
    width: 100%;
    padding-left: 335px;
    background-color: rgb(188, 186, 186);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
   

    .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5px;
        padding-right: 30px;


        input {
            width: 100%;
            padding: 10px;
        }


    }

    button {
        background-color: black;
        color: white;
        font-size: large;
        padding: 5px;
    }

    @media screen and (max-width:768px) {
        padding-left: 30px;

    }

}