.portfolio {
    background-color: #f1f1f1;
    min-width: 422.4px;
    width: 100%;
    height: auto;


    .top {
     

        width: 100%;
        height: 172px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 320px;
        padding-top: 20px;
        gap: 20px;
        border-bottom: solid rgb(189, 189, 189)5px;

        h1 {
            font-weight: 500 !important;
            font-size: 36px;
        }

        .list {
            display: flex;
            list-style: none;
            gap: 10px;
            justify-content: center;
            align-items: center;

            span {
                width: max-content;

            }

            .all {
                background-color: black;
                color: white;

            }

            a {
                text-decoration: none;
                background-color: white;
                color: black;
                width: max-content;
                padding: 5px 15px;

                &:hover {
                    background-color: rgb(189, 189, 189);
                    color: black;
                }
            }
        }


        @media screen and (max-width:768px) {
            padding-left: 10px;
            padding-top: 87px;
            height: 209px;

        }

        @media screen and (max-width:397px) {

            padding-top: 32px;
            height: 167px;
            margin-bottom: 50px;
            

            p {
                display: none;
            }
        }
    }
}